<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="mt-3">
    </div>
    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">

      <p class="text-danger text-center">{{message}}</p>
      <p class="text-success text-center">{{successMessage}}</p>
      <!-- login -->

      <input type="email" formControlName="email" class="fadeIn first"
             placeholder="Email" name="login" id="login">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger text-center">
        <div *ngIf="email.errors.required">
          <p>Email is required</p>
        </div>
        <div *ngIf="email.errors.pattern">
          <p>Enter proper email address</p>
        </div>
      </div>

      <button type="submit" class="fadeIn second" [disabled]="!emailForm.valid">
        Send Email!
        <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
      </button>
    </form>
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/login']">Back to login</a>
    </div>
  </div>
</div>
