<div class="container-fluid">

  <div class="row">
    <div class="col back">
      <button class="options" [routerLink]="['/']">
        Back to Reality
      </button>
    </div>
  </div>
  <div class="container-sm">
    <div class="form-group row">
      <label class="col-sm-5 col-form-label">Choose GPU:</label>
      <div id="search-component" class="col-sm-7">
        <label>
          <input id="gpu_input"
            (keyup)="searchTerm$.next($event.target.value)" #term class="form-control" [value]="gpu.name">
        </label>
      </div>
    </div>
    <div *ngIf="gpus">
      <div *ngFor="let gpu of gpus">
          <a (click)="setGpu(gpu)">{{ gpu.name }}</a>
      </div>
    </div>
  </div>
</div>
