<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="mt-3">
    </div>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="login_form">

      <div *ngIf="message">
        <p class="text-danger text-center">{{message}}</p>
      </div>

      <!-- password -->

      <input type="password" formControlName="password" class="fadeIn third"
             placeholder="Password" name="login" id="password">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger text-center">
        <div *ngIf="password.errors.required">
          <p>Password is required</p>
        </div>
        <div *ngIf="password.errors.minLength">
          <p> Password must be at least 6 characters long</p>
        </div>
      </div>

      <!-- confirm password -->

      <input type="password" formControlName="passwordConfirm" class="fadeIn third"
             placeholder="Confirm Password" name="login" id="password1">
      <div *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)"
           class="text-danger text-center">
        <div *ngIf="passwordConfirm.errors.required">
          <p>Password is required</p>
        </div>
        <div *ngIf="passwordConfirm.errors.minLength">
          <p> Password must be at least 6 characters long</p>
        </div>
      </div>
      <!-- submit -->
      <button type="submit" class="fadeIn fourth" [disabled]="!passwordForm.valid">
        Save Password!
        <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
      </button>

    </form>
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/login']">Back To Login</a>
    </div>
  </div>
</div>
